
<h1>Listing Quotes</h1>

<ul class="list-unstyled">
  <% @quotes.each do |quote| %>
    <li class="list-group-item">
      <p><%= quote.quote %></p>
      <h5><%= quote.author %></h5>
      <ul class="list-inline">
        <li><%= link_to 'Show', quote %></li>
        <% if quote.user == current_user %>
          <li><%= link_to 'Edit', edit_quote_path(quote) %></li>
          <li><%= link_to 'Destroy', quote, method: :delete, data: { confirm: 'Are you sure?' } %></li>
        <% end -%>
      </ul>
    </li>
  <% end %>
  <%= will_paginate @quotes %>
</ul>
