
<h1>Listing Quotes</h1>

<ul class="list-unstyled">
  <% @quotes.each do |quote| %>
    <li class="list-group-item">
      <p><%= quote.quote %></p>
      <h5><%= quote.author %></h5>
      <div class="btn-group">
        <%= link_to like_quote_path(quote), method: :put,class: 'btn btn-default btn-sm' do %>
          <span class='glyphicon glyphicon-thumbs-up'></span> 
          Like
          <%= quote.get_upvotes.size %>
        <% end %>
    
        <%= link_to dislike_quote_path(quote), method: :put,class: 'btn btn-default btn-sm' do %>
          <span class='glyphicon glyphicon-thumbs-down'></span> 
          Dislike
          <%= quote.get_downvotes.size %>
        <% end %>

        
        <%= link_to quote,class: 'btn btn-default btn-sm' do %>
          <span class='glyphicon glyphicon-comment'></span> 
          Show Comments
        <% end %>

        <% if quote.user == current_user %>
          
          <%= link_to edit_quote_path(quote),class: 'btn btn-default btn-sm' do %>
            <span class='glyphicon glyphicon-edit'></span> 
            Edit
          <% end %>
        
          <%= link_to quote, method: :delete, data: {confirm: "Are you sure?"},class: 'btn btn-default btn-sm' do %>
            <span class='glyphicon glyphicon-remove-circle'></span> 
            Delete
          <% end %>
        <% end -%>
      </div>
    </li>
  <% end %>
  <%= will_paginate @quotes %>
</ul>