<p id="notice"><%= notice %></p>

<div class='btn-group'>
	<%= link_to quotes_path,class: 'btn btn-default btn-sm' do %>
		<span class='glyphicon glyphicon-arrow-left'></span> 
		Back
	<% end %>
	<% if @quote.user == current_user -%>
	  <%= link_to edit_quote_path(@quote),class: 'btn btn-default btn-sm' do %>
	    <span class='glyphicon glyphicon-edit'></span> 
	    Edit
	  <% end %>
	<% end -%>
</div>
<br /><br />
<p>
  <strong>Author:</strong>
  <%= @quote.author %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @quote.quote %>
</p>
